.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 150px;
  font-size: 16px;
}
.storybook-button--primary {
  background-color: var(--color-primary);
  color: var(--text-color-white);
}
.storybook-button--secondary {
  background-color: var(--color-secondary);
  color: var(--text-color-white);
}
.storybook-button--small {
  padding: 10px 16px;
  font-size: 12px;
  min-width: 150px;
}
.storybook-button--medium {
  padding: 11px 20px;
  font-size: 16px;
}
.storybook-button--large {
  padding: 16px 30px;
  font-size: 18px;
  min-width: 180px;
}
