:root {
  --text-color-white: oklch(100% 0 0);
  --text-color-dark: oklch(25% 0 0);
  --text-color-medium-dark: oklch(50% 0 0);
  --color-primary: oklch(25% 0.75 345);
  --color-brand-logo: oklch(66% 0.1224 174);
  --color-secondary: oklch(63% 0.12 174);
  --color-outline: oklch(67% 0.1707 252);
  accent-color: var(--color-primary);
}

[data-color-scheme='dark'] {
  --text-color-white: oklch(23% 0 0 / 90%);
  --text-color-dark: oklch(96% 0 0);
  --text-color-medium-dark: oklch(97% 0 0 / 70%);
  --color-brand-logo: oklch(66% 0.1224 174);
  --color-secondary: oklch(72% 0.12 174);
  --color-outline: oklch(100% 0 0);
}
.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.storybook-button--primary {
  background-color: var(--color-primary);
  color: var(--text-color-white);
}
.storybook-button--secondary {
  background-color: var(--color-secondary);
  color: var(--text-color-white);
}
.storybook-button--small {
  padding: 10px 16px;
  font-size: 12px;
}
.storybook-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}
.storybook-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
